<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hupu.deep.comment.dal.LightRecordMapper">
    <resultMap id="BaseResultMap" type="com.hupu.deep.comment.entity.LightRecordDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="subject_id" jdbcType="VARCHAR" property="subjectId"/>
        <result column="light_record_id" jdbcType="VARCHAR" property="lightRecordId"/>
        <result column="light_status" jdbcType="VARCHAR" property="lightStatus"/>
        <result column="create_dt" jdbcType="TIMESTAMP" property="createDt"/>
        <result column="update_dt" jdbcType="TIMESTAMP" property="createDt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, subject_id, light_record_id, user_id, light_status, create_dt, update_dt
    </sql>

    <select id="getLightRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from light_record
        where user_id = #{userId,jdbcType=BIGINT}
        and subject_id = #{subjectId,jdbcType=VARCHAR}
    </select>

    <insert id="saveLightRecord" parameterType="com.hupu.deep.comment.entity.LightRecordDO">
        insert into light_record (subject_id,
        light_record_id, user_id, light_status)
        values (#{subjectId,jdbcType=VARCHAR},
        #{lightRecordId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{lightStatus,jdbcType=VARCHAR})
    </insert>

    <update id="light">
        update light_record
        set light_status = 'LIGHT'
        where user_id = #{userId,jdbcType=BIGINT}
        and subject_id = #{subjectId,jdbcType=VARCHAR}
        and light_status = 'CANCEL_LIGHT'
    </update>

    <update id="cancelLight" parameterType="com.hupu.deep.comment.entity.LightRecordDO">
        update light_record
        set light_status = 'CANCEL_LIGHT'
        where user_id = #{userId,jdbcType=BIGINT}
        and subject_id = #{subjectId,jdbcType=VARCHAR}
        and light_status = 'LIGHT'
    </update>

    <select id="statsContributionCount" resultType="Integer">
        select count(1) from light_record
        where subject_id = #{subjectId,jdbcType=VARCHAR}
        and contribution_count=0
    </select>

    <update id="doneContributionCount">
        update light_record set contribution_count=1
        where subject_id = #{subjectId,jdbcType=VARCHAR}
        and contribution_count = 0
    </update>

    <select id="selectLightRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from light_record
        where light_status = 'LIGHT'
        and subject_id = #{subjectId,jdbcType=VARCHAR}
    </select>

</mapper>